<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Login Page</title>
</head>
<body>

    <header>
        <h2>Chat House</h2>
    </header>
    <main>
        <form action="/chat-room">
            <input type="text" name="username" placeholder="Enter Your Name" id="name"><br>
            <select name="room" id="room">
                <option value="amman">Amman</option>
                <option value="zarqa">Zarqa</option>
                <option value="irbid">Irbid</option>
                <option value="madaba">Madaba</option>
                <option value="aqaba">Aqaba</option>
                <option value="jarash">Jarash</option>
            </select><br>
            <input type="submit" value="Join Room" id="btn">
        </form>
    </main>
</body>
</html>