<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <main>
        <form action="/chat-room">
            <input type="text" name="username" placeholder="Enter Your Name" id="name">
            <select name="room" id="room">
                <option value="amman">Amman</option>
                <option value="zarqa">zarqa</option>
                <input type="submit" value="Enter">
            </select>
        </form>
    </main>
</body>
</html>